@charset "utf-8";
.index{border: 1px solid #ed6d1f; -webkit-border-radius: 0.75rem; -moz-border-radius: 0.75rem; border-radius: 0.75rem; overflow: hidden;}
.index-content{padding: 0.7rem 0.325rem 0;}
.active-rules{display: block; color: #ffffff; font-size: 0.725rem; background-color: #ed6d1f; width: 4.9rem; text-align: center; height: 1.35rem; line-height: 1.35rem; font-weight: bold; border-radius: 0.2rem; letter-spacing: 2px; margin-bottom: 0.6rem;}
.rule-item{color: #000; font-size: 0.51rem; font-weight: bold; line-height: 0.95rem; position: relative;padding-left: 0.75rem; margin-top: 0.05rem;}
.rule-item:before{content: ""; position: absolute; left: 0.05rem; width: 0.45rem; height: 0.45rem; border-radius: 50%; background-color: #ed6d1f; top: 0.25rem;}
.index-links{flex-wrap: wrap; margin-top: 0.5rem;}
.index-link{width: 48.5%; height: 18.1vw; border-radius: 0.4rem; margin-top: 0.45rem; position: relative;}
.index-link.link1{background:#e73656 url("../img/icon1.png") no-repeat 14% center; -webkit-background-size: auto 57.5%; background-size: auto 57.5%;}
.index-link.link2{background:#13b5b1 url("../img/icon2.png") no-repeat 14% center; -webkit-background-size: auto 68.65%; background-size: auto 68.65%;}
.index-link.link3{background:#9ab445 url("../img/icon3.png") no-repeat 14% center; -webkit-background-size: auto 76.1%; background-size: auto 76.1%;}
.index-link.link4{background:#000000 url("../img/icon4.png") no-repeat 14% center; -webkit-background-size: auto 79.85%; background-size: auto 79.85%;}
.index-link p{position: absolute; color: #fff; font-size: 0.65rem; height: 1.45rem; line-height: 1.35rem; border-top: 1px solid #fff; border-bottom: 1px solid #fff; right: 11%; top: 50%; margin-top: -0.725rem;}















